/* Login Page Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.login-page {
  font-family: "Arial", sans-serif;
  background: #000316;
  height: 100vh;
   display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  text-align: center;
  background: white;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button img {
  width: 20px;
  height: 20px;
}

.google-button {
  background: #4285f4;
  color: white;
}

.google-button:hover {
  background: #357ae8;
}

.github-button {
  background: #24292e;
  color: white;
}

.github-button:hover {
  background: #1b1f23;
}
